<!-- reminder for later: call is async and may need ngIf to not show unless data exists -->

<div *ngIf="album">
    <div class="column">
        <a routerLink="/albums/{{album.id}}/edit">
            <span>Edit Album</span>
        </a>
        <h2>{{ album.albumTitle }}</h2>
        <h5>Created: {{ album.dateCreated | date:'longDate'}}</h5>
        <div class="row" *ngFor="let imagePath of album.imageSet">
            <h4 *ngIf="caption">{{imageSet.caption}}</h4>
            <img  src={{imagePath}} />
        </div>
        <div *ngIf="tagList">
          <p *ngFor="let tag in tagList">{{tag}} </p>
        </div>
    </div>
</div>

<!-- TODO: add upvote system -->
<!-- TODO: add comment system -->
<!-- TODO: add more css for aesthetics -->