<!-- reminder for later: call is async and may need ngIf to not show unless data exists -->
<!-- [state]="{ data: {album}}" -->
<div *ngIf="albumFromHere">
    <div class="column">
        <a routerLink="/album/{{albumFromHere.id}}/edit">
            <span>Edit Album</span>
        </a>
        <h2>{{ albumFromHere.title }}</h2>

        <app-favorite [albumId]="albumFromHere.id"></app-favorite>

        <h5>Created: {{ albumFromHere.dateCreated | date:'short'}}</h5>
        <div class="row" *ngFor="let imagePath of albumFromHere.images">
            <h4 *ngIf="imagePath.caption">{{imagePath.caption}}</h4>
            <img  src={{imagePath.imgUrl}} alt="../assets/macaron.png"/>
            <h6>Submitted:{{imagePath.dateSubmitted | date:'short'}}</h6>
        </div>
        <app-comments [comments]="albumFromHere.comments" [albumId]="albumFromHere.id" (onSubmitNewComment)="submitNewComment($event)"></app-comments>
 
        <!-- <div *ngIf="tagList">
          <p *ngFor="let tag of album.tagList">{{tag}} </p>
        </div> -->
    </div>
</div>

<!-- TODO: add upvote system -->
<!-- TODO: add comment system -->
<!-- TODO: add more css for aesthetics -->