<!-- <div>
        <div>
                <label>Add image</label>
                <button type="submit" id="addImageButton">Add</button><br>
        </div>
        <div >
                <label>Delete image</label>
                <button type="submit" id="deleteImageButton">Delete</button>
        </div>
</div> -->
<!-- <div class="form-group">
        <label for="file">Choose File</label>
        <input type="file"
               id="file"
               placeholder="File name"
               (change)="handleFileInput($event.target.files)">
    </div> -->
    <h2>Add an Image to Album</h2>
    <div>
        <form  (ngSubmit)="onSubmit()">
          <div>
            <input type="file" name="profile" (change)="onFileSelect($event)" />
            <label>Caption for New Image</label>
            <input type="text" name="imageCaption" [(ngModel)]="imageCaption" />
          </div>
            <button type="submit">Upload</button>
        </form>

    </div>
<br>
<!--  <div class="row" *ngIf="album">-->
<!--        <div class="column" *ngFor="let imagePath of album.images; let i=index;"-->
<!--                (click)="setRow(i)" [ngClass]="{'highlight': selectedIndex === i}">-->
<!--                <div class="listItem">-->
<!--                        <h3>{{imagePath.caption}}</h3>-->
<!--                        <h5>Submitted: {{imagePath.dateCreated | date:'short'}}</h5>-->
<!--                        <img  src={{imagePath.imagePath}} />-->
<!--                </div>-->
<!--        </div>-->
<!--</div>-->
