.column {
    float: left;
    width: 22.5%;
    padding: 10px;
}

.column img {
    width: 80%;
}

.listItem:hover{
    border: solid black 1px;
    cursor: pointer;
}

.highlight {
    border: solid black 3px;
}